<!DOCTYPE html>
<html>
<head>
  <title>添加新闻分类页--江南无线</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section id="page1" data-role="page">
  <header data-role="header" data-position="fixed"><h1>添加新闻分类</h1></header>
  <div data-role="content" class="content">
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" data-rel="back" data-role="button" data-icon="arrow-l" data-theme="e">返回</a>
      <a href="/news_cates" data-role="button" data-icon="home" data-theme="b">首页</a>
    </div>
    <%= render 'form' %>


  </div>
  <footer data-role="footer" data-position="fixed"><h1>@2013 江南工作室</h1></footer>

</section>


</body>
</html>


