<!DOCTYPE html>
<html>
<head>
  <title>预加载页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section id="page1" data-role="page">
  <header data-role="header" data-position="fixed"><h1>注册新用户</h1></header>
  <div data-role="content" class="content">
    <%= render 'form' %>
    <footer data-role="footer" data-position="fixed"><h1>@2013 江南工作室</h1></footer>
  </div>
</section>

</body>
</html>

