<!DOCTYPE html>
<html>
<head>
  <title>预加载页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">


  </script>
</head>
<body>
<section  data-role="page">
  <header data-role="header"><h1>提示</h1></header>
  <div data-role="content" class="content">
    <p>真的要关闭对话框吗？</p>
    <p>
      <a href="#"
         data-role="button"
         data-rel="back"
         data-theme="a" data-icon="delete" >关闭</a>
    </p>
    <footer data-role="footer"><h1>@2013 江南工作室</h1></footer>
  </div>
</section>
</body>
</html>