<!DOCTYPE html>
<html>
<head>
  <title>预加载页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">

  </script>
</head>
<body>
<section id="page1" data-role="page">
  <header data-role="header"><h1>对话框</h1></header>
  <div data-role="content" class="content">
    <p>这是一个对话框！！！</p>
    <p>
      <a href="/welcome/close" data-rel="dialog" data-transition="pop">关闭</a>
    </p>
   <footer data-role="footer"><h1>@2013 江南工作室</h1></footer>
  </div>
</section>

</body>
</html>