<!DOCTYPE html>
<html>
<head>
  <title>封面页-江南无线</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">

  </script>
</head>
<body>

<section id="index_index" data-role="page">
  <header data-role="header" data-position="fixed"><h1>江南无线系统</h1></header>
  <div data-role="content" class="content">
    <p class="border_p01"></p>
    <ul data-role="listview" data-dividertheme="e"></ul> <br />
    <div data-role="controlgroup">
      <a href="/welcome/sub" data-theme="d" data-mini="true" data-role="button" data-icon="plus">
        订阅管理</a>
      <a href="/welcome/logout2" data-theme="e" data-mini="true" data-role="button" data-icon="alert">
        退出</a>
    </div>

  </div>
  <footer data-role="footer" data-position="fixed"><h1>@2013 江南工作室</h1></footer>

</section>


</body>
</html>