<h1>同伴的文章</h1>
  <%= link_to ">>返回", admin_url %> <br> <br>

<table border="1px">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>autor</th>
    <th></th>
  </tr>

  <%= render @posts %>
</table>

<br />

